
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&display=swap');

.label{
    -fx-font-family: 'Noto Sans Mono';
    -fx-text-fill: color-crimson;
    -fx-font-size: 22pt;
    -fx-font-weight: regular;
}

#back_ground_pane{
    -fx-background-color: linear-gradient(to right, #ffefba, #ffffff);
    -fx-background-image: url('');
}

#button_bar{
    -fx-background-color: linear-gradient(#c6ffdd, #fbd786, #f7797d);
    -fx-background-radius: 30;
}

@font-face {
  src: url(“com/example/dictionarypr/font/LemonJellyPersonalUse-dEqR.ttf”);
}

#mag_glass{
    fx-background-image: none;
}

#book_icon{
    fx-background-image: none;
}

#man_icon{
    fx-background-image: none;
}

#setting_icon{
    fx-background-image: none;
}

.button
{
    -fx-background-radius: 25;
}

.button:pressed
{
     -fx-background-color : #bfe9ff;
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}